@font-face {
  src: url(fonts/CreteRound-Regular.ttf);
  font-family: 'Crete Round';
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@media (max-width: 768px) {
  body {
    background: #1c1a19;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 1901px;
    background-color: #1c1a19;
    background-image: url(./images/About-me-illustration.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 31%;
  }

  .about-title {
    padding: 120px 24px 24px 24px;
    background: #1c1a19;
    height: 79px;
    width: 327px;
    font-family: 'Crete Round', Arial, Helvetica, sans-serif;
    color: #ff6b00;
    font-style: normal;
    letter-spacing: 0.37px;
    font-weight: 400;
    font-size: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 88px;
  }

  .about-me {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    height: 148px;
    font-weight: 400;
    font-size: 16px;
    color: #f4f5f7;
    line-height: 24px;
    padding: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .resume-link {
    background: #ff6b00;
    width: 170px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 24px;
    border: 0;
  }

  button.resume-link a {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 10px;
  }

  ul.ext-links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  .resume-link:hover > a {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .resume-link:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  .lists {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    order: 3;
  }

  ul.ext-links {
    color: #ff6b00;
    list-style: square;
  }

  ul.language {
    list-style-type: none;
    text-align: center;
    line-height: 44px;
  }

  ul.frameworks {
    list-style-type: none;
    text-align: center;
    line-height: 44px;
  }

  ul.skills {
    list-style-type: none;
    text-align: center;
    line-height: 44px;
  }

  h3 {
    color: #fff;
    font-weight: 700;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 44px;
  }

  .language {
    order: 0;
  }

  .frameworks {
    order: 1;
  }

  .skills {
    order: 2;
  }
}
