@font-face {
  src: url(fonts/CreteRound-Regular.ttf);
  font-family: "Crete Round";
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@media (max-width: 768px) {
  .Home {
    background-color: #1c1a19;
    height: 850px;
  }

  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, "Courier New", Courier, monospace;
  }

  .contact-comment {
    color: #172b4d;
    margin-top: 120px;
    width: 327px;
    height: 216px;
    text-align: center;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 44px;
  }

  .form-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 73px;
    line-height: 24px;
    padding: 0;
  }

  #form-name {
    margin: 10px 0 10px 0;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border: none;
  }

  #form-mail {
    margin-top: 54px;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border: none;
  }

  ul.form-list input {
    color: #979493;
    width: 295px;
    padding: 0;
  }

  ul.form-list textarea {
    color: #3c3a39;
    background: #fbf8f7;
    margin-top: 51px;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
  }

  #msg {
    width: 327px;
    text-align: left;
    height: 114px;
    border: none;
  }

  .contact-btn button {
    background: #ff6b00;
    padding: 12px;
    border: none;
    color: #fbf8f7;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .contact-btn button:hover {
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .contact-footer-section {
    display: flex;
    margin-top: 124px;
    height: 72px;
  }

  .contact-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
}
