@font-face {
  src: url(fonts/CreteRound-Regular.ttf);
  font-family: 'Crete Round';
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@media (min-width: 600px) {

.desk-home {
  background: #1C1A19;
  width: 100vw;
  height: 870px;
  position: absolute;
  top: 0;
  left: 0;
}

.desk-home-header {
  background: #3E3C3C;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 72px;
}

.name-logo {
  position: absolute;
  width: 116px;
  height: 40px;
  left: 142px;
  top: 16px;
}

.name-logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Inter, Arial, Helvetica, sans-serif;font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

ul.nav-list {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 255px;
  height: 40px;
  right: 194px;
  margin-bottom: 16px;
}

ul.nav-list li {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

ul.nav-list li a {
  text-decoration: none;
  color: #FFFFFF;
}

.email-box {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 142px;
  top: calc(50% - 40px/2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-icon {
  width: 22px;
  height: 18px;

}


}