@media (max-width: 768px) {

body {
  background-color: #1c1a19;
}

nav {
  display: flex;
  flex-direction: row;
  height: 72px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #3E3C3C;
  position: absolute;
  border-color: aqua;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
}

.item-navigation {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 2px;
width: 255px;
height: 40px;
right: 194px;
top: calc(50% - 40px/2);
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 116px;
    height: 40px;
    left: 142px;
    top: 16px;
}



.name-text {
  width: 92px;
  height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.frame-port{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 5px;
gap: 10px;
width: 33.3333%;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;
}

.frame-about {
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 5px;
gap: 10px;
width: 33.3333%;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
}

.frame-contact {
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 5px;
gap: 10px;
width: 33.3333%;
height: 40px;
flex: none;
order: 2;
flex-grow: 0;
}

.email-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 25%;
    height: 40px;
    top: calc(50% - 40px/2);
    border-radius: 8px;
    order: 3;
    }

.portfolio {
    width: 63px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

.about {
    width: 45px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;    
}

.contact {
    width: 59px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.email {
    width: 40px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
}